<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email" />
    <meta
      name="google-signin-client_id"
      content="757447215118-09jua4fvt1230ss3nefhbfihncm0doau.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="utf-8" />
    <meta name="language" content="english" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Brian Mayer's test editprofile</title>

    <style>
      body {
        max-width: 800px;
        margin: 0 auto;
        font-family: Helvetica, sans-serif;
      }

      h1 {
        text-align: center;
      }

      h2 {
        text-align: center;
        color: gray;
      }

      h3 {
        color: gray;
        font-size: smaller;
      }

      a.button {
        appearance: button;
      }
    </style>
  </head>

  <body>
    <div id="profile">
      <h2>Edit Profile</h2>

      <h3>Full Name</h3>
      <input id="name" type="text" value="{{.Name}}" />

      <h3>Email</h3>
      <p>{{.Email}}</p>

      <h3>Telephone</h3>
      <input id="telephone" type="text" value="{{.Telephone}}" />

      <h3>Address</h3>
      <input id="address" type="text" value="{{.Address}}" />

      <br />
      <button onclick="cancel()">Cancel</button>
      <button onclick="save()">Save & Continue</button>
    </div>

    <script>
      window.addEventListener("unload", function () {
        document.getElementById("profile").innerHTML = "";
      });

      window.addEventListener("pagehide", function () {
        document.getElementById("profile").innerHTML = "";
      });

      object.onunload = function () {
        document.getElementById("profile").innerHTML = "";
      };

      function cancel(token) {
        // Go to profile page
        window.location.href = "profile.html";
      }

      function save(token) {
        const name = document.getElementById("name").value;
        const tele = document.getElementById("telephone").value;
        const address = document.getElementById("address").value;

        const formData = new FormData();
        formData.append("name", name);
        formData.append("telephone", tele);
        formData.append("address", address);

        const request = new Request("editprofile", {
          method: "PUT",
          body: formData,
        });

        fetch(request).then((value) => {
          if (value.status == 204) {
            window.location.href = "profile.html";
          }
        });
      }
    </script>
  </body>
</html>
