<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email" />
    <meta
      name="google-signin-client_id"
      content="757447215118-09jua4fvt1230ss3nefhbfihncm0doau.apps.googleusercontent.com"
    />
    <script
      src="https://apis.google.com/js/platform.js?onload=initClient"
      async
      defer
    ></script>

    <meta charset="utf-8" />
    <meta name="language" content="english" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Brian Mayer's test profile</title>

    <style>
      body {
        max-width: 800px;
        margin: 0 auto;
        font-family: Helvetica, sans-serif;
      }

      h1 {
        text-align: center;
      }

      h2 {
        text-align: center;
        color: gray;
      }

      h3 {
        color: gray;
        font-size: smaller;
      }

      a.button {
        appearance: button;
      }
    </style>
  </head>

  <body>
    <div id="profile">
      <h2>Profile</h2>

      <a href="editprofile.html" class="button">Edit</a>

      <h3>Full Name</h3>
      <p>{{.Name}}</p>

      <h3>Email</h3>
      <p>{{.Email}}</p>

      <h3>Telephone</h3>
      <p>{{.Telephone}}</p>

      <h3>Address</h3>
      <p>{{.Address}}</p>

      <input type="button" value="Sign Out" onclick="signOut()" />
    </div>

    <script>
      window.addEventListener("unload", function () {
        document.getElementById("profile").innerHTML = "";
      });

      let auth2;

      function initClient() {
        gapi.load("auth2", function () {
          auth2 = gapi.auth2.init({
            client_id:
              "757447215118-09jua4fvt1230ss3nefhbfihncm0doau.apps.googleusercontent.com",
          });
        });
        console.log("init done");
      }

      function signOut(token) {
        document.getElementById("profile").innerHTML = "";

        // Make tokens expire
        const request = new Request("signout", { method: "POST" });
        fetch(request).then((v) => {
          try {
            auth2.signOut().then(function () {
              console.log("User signed out.");
            });
          } catch (e) {
            console.log("not logged on google");
          }

          // Go to login page
          window.location.href = "/";
        });
      }
    </script>
  </body>
</html>
